<body>
  <input type="radio" id="s-1" name="slider-control" checked="checked">
  <input type="radio" id="s-2" name="slider-control">
  <input type="radio" id="s-3" name="slider-control">
  <input type="radio" id="s-4" name="slider-control">
  <input type="radio" id="s-5" name="slider-control">
  <input type="radio" id="s-6" name="slider-control">
  <input type="radio" id="s-7" name="slider-control">
  <input type="radio" id="s-8" name="slider-control">
  <input type="radio" id="s-9" name="slider-control">
  <input type="radio" id="s-10" name="slider-control">
  <div class="js-slider">
    <figure class="js-slider_item img-1">
      <div class="js-slider_img">
        <img class="c-img-w-full" src="./../../../assets/img/tres.png" alt="">
      </div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">
          <div class="c-label">全点初公開</div>
          <br class="view-sm mb-s">津和野藩伝来摺物</h3>
        <ul class="wo-credit">
          <li>摺物118枚 寛政元-12年 (1789-1800)</li>
          <li>島根県立美術館(永田コレクション)</li>
          <li>通期展示
            <span class="c-txt-s">※4期に分けて全点を展示</span></li>
        </ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-2">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/tres.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」遠眼鏡</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>リー・ダークス・コレクション</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-3">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/vase.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-4">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/journey.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-5">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/rural.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-6">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/chamber.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-7">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/empress.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-8">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/sun.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-9">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/chamber.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <figure class="js-slider_item img-10">
      <div class="js-slider_img">
        <img class="c-img-h-full" src="./../../../assets/img/chamber.png" alt=""></div>
      <figcaption class="wo-caption">
        <h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
        <ul class="wo-credit">
          <li>大判 享和年間 (1801-04)</li>
          <li>米・個人蔵</li>
          <li>展示期間：1月30日 (水) ～ 2月18日 (月)</li></ul>
      </figcaption>
    </figure>
    <div class="js-slider_nav">
      <label class="js-slider_nav_item s-nav-1 prev" for="s-10"></label>
      <label class="js-slider_nav_item s-nav-1 next" for="s-2"></label>
      <label class="js-slider_nav_item s-nav-2 prev" for="s-1"></label>
      <label class="js-slider_nav_item s-nav-2 next" for="s-3"></label>
      <label class="js-slider_nav_item s-nav-3 prev" for="s-2"></label>
      <label class="js-slider_nav_item s-nav-3 next" for="s-1"></label>
      <label class="js-slider_nav_item s-nav-4 prev" for="s-3"></label>
      <label class="js-slider_nav_item s-nav-4 next" for="s-5"></label>
      <label class="js-slider_nav_item s-nav-5 prev" for="s-4"></label>
      <label class="js-slider_nav_item s-nav-5 next" for="s-6"></label>
      <label class="js-slider_nav_item s-nav-6 prev" for="s-5"></label>
      <label class="js-slider_nav_item s-nav-6 next" for="s-7"></label>
      <label class="js-slider_nav_item s-nav-7 prev" for="s-6"></label>
      <label class="js-slider_nav_item s-nav-7 next" for="s-8"></label>
      <label class="js-slider_nav_item s-nav-8 prev" for="s-7"></label>
      <label class="js-slider_nav_item s-nav-8 next" for="s-9"></label>
      <label class="js-slider_nav_item s-nav-9 prev" for="s-8"></label>
      <label class="js-slider_nav_item s-nav-9 next" for="s-10"></label>
      <label class="js-slider_nav_item s-nav-10 prev" for="s-9"></label>
      <label class="js-slider_nav_item s-nav-10 next" for="s-1"></label>
    </div>
    <div class="js-slider_indicator">
      <div class="js-slider-indi indi-1"></div>
      <div class="js-slider-indi indi-2"></div>
      <div class="js-slider-indi indi-3"></div>
      <div class="js-slider-indi indi-4"></div>
      <div class="js-slider-indi indi-5"></div>
      <div class="js-slider-indi indi-6"></div>
      <div class="js-slider-indi indi-7"></div>
      <div class="js-slider-indi indi-8"></div>
      <div class="js-slider-indi indi-9"></div>
      <div class="js-slider-indi indi-10"></div>
    </div>
  </div>  
</body>
